@font-face {
  font-family: 'iconfont';/*声明一个名为iconfont的字体变量*/
  src: url('src/assets/font/NiShiWoWeiYiShouXuan-2.ttf');
}
#app {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  background: #F8F9FA;
}
:root {
  
}